.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.img {
    padding: 2px;
    width: 25px;
  }


th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }