.translator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.no-img{
    padding: 2px;
    width: 38px;
    font-size: 30px;
}

.img {
  padding: 2px;
  width: 38px;
}

.form{
    padding-top: 20px;
    height: 100%;
}

.output{
    resize: none;
    outline: none;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 13px 3px rgba(191,191,191,1);
    border-radius: 5px;
    margin: 10px 40px 2px 40px;
    height: 185px;
    text-align: left;
    justify-items: auto;
}

.button:hover{
    background-color: #B0A8B9;
}

.link{
    background-color: #4B4453;
    color: white;
    padding: 5px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
}
  
.link:hover{
    background-color: #B0A8B9;
}