@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: #845EC2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  border-bottom-style: solid;
}

.img-header {
  padding: 10px;
  width: 50px;
}

.input {
  background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    height: auto;
    width: 350px;
    font-size: calc(10px + 2vmin);
}

.button{
    font-size: calc(10px + 2vmin);
    background-color: #4B4453;
    color: white;
    padding: 5px 28px;
    height: 44.67px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.current-page{
  float: left;
  margin: 4px;
}

.bar{
  align-content: right;
  text-align: right;
  width: 100%;
  border-bottom-style: solid;
  color: white;
  background-color: #845EC2;
}

.link{
  font-size: 10px;
}
