
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

html{
  height: 100%;
  background-color: #EFEFEF;
}

body {
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
